* {
    margin: 0;
    padding: 0;    
    list-style: none;
    text-decoration: none;
    font-family: arial;
}

body{
    font-family: Arial;
}

#Footer {
    width: 90%;
  
}

/*set background to be visually similar to content forms image*/
#ContactBody {
    background-image: url("../Images/ContactBackgroundImage.png");
    background-size:initial;
}

/*page set up*/
#ContactBlockOne {
    width: 100%;
    height: 90vh;
}

#ContactBlockTwo {
    width: 100%;
    height: auto;   
}

/*build container for form*/
.ContactContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactContainer h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.ContactContainer h1{
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
}

.ContactContainer p{
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 12px;
}

/*build the contact pages form with two grids cells of different sizes*/
.ContactForm {
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

/*forms content(c)*/
#groupc{
  margin: auto;
  width: 60%;
}

/*left box on grid to contian the image and info*/
.LeftBox {
    background: url("../Images/ContactFormImage.png") no-repeat center;
    background-size: cover;
    height: 100%;
    text-align: left;  
}

/*right box to contain inputs*/
.RightBox {
    padding: 20px 0px 120px;
    background-color: #1B1B1B;
}

.ContactInfo {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: #1B1B1B;
    margin-bottom: 30px;
    border-bottom: 1px solid #B1B1B1;
    font-family: Arial;
    font-size: 14px;
    color: #B1B1B1;
    opacity: 0.9;
}

textarea {
    min-height: 150px;
    font-family: Arial;
    font-size: 14px;
}

.group { 
    position: relative; 
    margin-bottom: 30px; 
}

/*class for white styling items*/
.white {
    color: white;
    font-size: 14px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #B1B1B1;
    background: rgba(0,0,0,0);
    opacity: 0.5;
    transition: 0.2s ease;
  }
  
/*input label styling, transitions from on line to above when selected*/
.inputLabel {
    color: #B1B1B1; 
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    opacity: 0.8;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  
  /* active state */
  .white:focus ~ label, .white:valid ~ label 		{
    top: -10px;
    font-size: 12px;
    color: #B1B1B1;
    opacity: 1;
  }

  /*button styling*/
.ContactButton {
    background: white;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: all 0.2s ease 0s;
}

.ContactButton:hover {
    opacity: 0.6;
    background: red;
}

#ContactBLockTwoP {
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*make form responsive and just have the inputs on narrow widths*/
@media(max-width:800px){
    .LeftBox {
        display: none;
    }

    .ContactForm {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    }
}