*{
    margin:0;
    padding:0;
    box-sizing: boarder-box;
    font-family: Arial;
    text-decoration: none;
  }
  
/*Position NavBar Header*/
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: black;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
  
/*Omni Athletics styling*/
header .logo{
    font-size: 20px;
    font-weight: bolder; 
    color: white;
}

/*remove styling*/
header .navbar ul{
    list-style: none;
}

/*List item positions*/
header .navbar ul li{
    position: relative;
    float: left;
}
  
/*text styling*/
header .navbar ul li a{
    font-size: 16px;
    padding:14px;
    color: white;
    display: block;
}

/*on hover red*/
header .navbar ul li a:hover{
    background:red;
}

/*navbar styling black boxed*/
header .navbar ul li ul{
    position: absolute;
    left:0;
    width:200px;
    background:#1B1B1B;
    display:none;   
}

/*fill*/
header .navbar ul li ul li{
    width:100%;
}
  
/*show*/
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}
  
/*hide selector submenu*/
#menu-bar{
    display:none;
}
  
/*white styling, hidden label for selector*/
header label{
    color:white;
    font-size:16px;
    cursor:pointer;
    display:none;
}
 
/*on 900px screen width change navbar to hide and give user option to open the menu/navbar vertically, good for small screens/phones*/
@media(max-width:900px){
    header{
        padding:14px;
    }
    
    header label{
        display:initial;
    }
    
    header .navbar ul li ul li{
        background:black;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background:#1B1B1B;
        display:none;
    }
    
    header .navbar ul li{
        width: 100%;
    }
    
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    
    header .navbar ul li ul li{
        position: relative;
        width: 100%;
    }
    
    #menu-bar:checked ~ .navbar{
        display: initial
    }      
}