* {
    margin: 0;
    padding: 0;    
    list-style: none;
    text-decoration: none;
    font-family: arial;
}

body{
    font-family: Arial;
}

/*set background color*/
#resourcebody{
    background-color: #1B1B1B;
    background-size: cover;
}

/*set page height for 6 sections of content - static*/
#ResourceBlockOne {
    width: 100%;
    height: 270vh;
    right: 0;
    color: #fff;
}

/*footer*/
#ResourceBlockTwo {
    width: 100%;
    height: fill;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0px;  
}

#AboutBlockTwoP {
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

/*set up grids of 2x1 horizontal to allow for content and image displays inline*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    height: 40vh;
}

/*text styling*/
.heading{
    height: 10vh;
    color: #FAF9F6;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.heading h1{
    margin-top: 65px;
}

/*gridbox1 contains text*/
.gridBox1{
    background-color: #FAF9F6;
    color: black
}

.gridBox1 h2{
    text-align: center;
    margin-bottom: 20px;
}

.gridBox1 p{
    text-align: center;
}

.Description{
    padding-top: 20px;
    width:76%;
    margin:0 auto;
    text-align: center;
    height:40%;
}

/*gridbox2 contains images*/
.gridBox2{
    background-size: cover;
}
/*add in each image here*/
#resource1{
    background-image: url(../Images/myFitnessPal.webp);
}
#resource2{
    background-image: url(../Images/NZMuscle.webp);
}
#resource3{
    background-image: url(../Images/BodyBuilding.jpg);
}
#resource4{
    background-image: url(../Images/Torpedo7.png);
}
#resource5{
    background-image: url(../Images/Crossfit.jpg);
}
#resource6{
    background-image: url(../Images/TNation.jpg);
}

.titleDesc{
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*button navigating to link of webpage in content*/
#InfoButton {
    background: black;
    color: #FAF9F6;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: all 0.2s ease 0s;
}

#InfoButton:hover {
    opacity: 0.6;
}

/*move grids to be 1x2 vertical to fit narrow page width(like phones)*/
@media(max-width:1100px){
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 30px;
        height: auto;
    }

    .gridBox1{
        height: 50vh;
    }
    
    .gridBox2{
        height: 30vh;
    }

    #ResourceBlockOne {
        width: 100%;
        height: 510vh;
        right: 0;
        color: #fff;
    }

    .Description{
        padding-top: 20px;
        width:76%;
        margin:0 auto;
        text-align: center;
        height:54%;
    }
}

